nav {
    height: 60px;
    width: 100%;
    position: fixed;
    background-color: #f8a501;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
        font-family: sans-serif;
    }
}